body {
    font-family: "Arial", sans-serif;
}
h2 {
    text-align: center;
}
.axis {
    font-size: 13px;
}
.axis path,
.axis line {
    fill: none;
    display: none;
}
.label {
    font-size: 13px;
}
